name: ci
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Read .nvmrc
        id: nvm
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
      - name: Use Node.js ${{ steps.nvm.outputs.NVMRC }}
        uses: actions/setup-node@v2
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'
      - name: Install dependencies
        run: npm ci
      - name: Lint TypeScript; run unit tests
        run: npm run all
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Reference repository Dockerfile
        run: "sed -i -E \"s/(image: ')[^']+(')/\\1Dockerfile\\2/\" action.yml"
      - name: Use action
        uses: ./
        with:
          api_key: abc123
          github_token: ${{ secrets.GITHUB_TOKEN }}
