name: release
on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize
      - reopened
      - labeled
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          images: namoscato/github-action-tinify
          flavor: |
            latest=true
            prefix=
            suffix=
          tags: |
            type=semver,pattern=v{{version}}
            type=semver,pattern=v{{major}}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        if: github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'build latest')
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'build latest') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
