name: release
on:
  release:
    types: [published]
jobs:
  git:
    runs-on: ubuntu-latest
    steps:
      - name: Bump git tags
        uses: Actions-R-Us/actions-tagger@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          publish_latest_tag: true
  docker:
    runs-on: ubuntu-latest
    needs: git
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: namoscato/github-action-tinify
          tags: latest,${{ needs.git.outputs.ref }}
          tag_with_ref: true
          add_git_labels: true
