name: release-latest
on:
  push:
    branches: [master]
  pull_request:
    types: [labeled]
jobs:
  docker:
    if: github.event_name == 'push' || github.event.label.name == 'build latest'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: namoscato/github-action-tinify
          tags: latest
          tag_with_ref: true
          add_git_labels: true
