name: release
on:
  pull_request:
  release:
    types: [published]
jobs:
  git:
    runs-on: ubuntu-latest
    outputs:
      major_tag: REF=${{ steps.tag.outputs.ref }}; echo ${REF#tags/}
    steps:
      - id: tag
        name: Bump git tags
        uses: Actions-R-Us/actions-tagger@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          publish_latest_tag: true
  docker:
    runs-on: ubuntu-latest
#    needs: git
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: namoscato/github-action-tinify
#          tags: latest,${{ needs.git.outputs.major_tag }}
          tags: latest,v1
          tag_with_ref: true
          add_git_labels: true
